<%- include('../partials/adminHeader') %>

    <h1>Admin</h1>
    <form class="form-auth" action="/admin" method="POST">
            <label class="label" for="user">User Name</label>
            <input class="input" type="text" id="user" name="user">
            <label class="label" for="password">Password</label>
            <input class="input" type="password" id="password" name="password">
        <button class="button">Submit</button>
    </form>

</body>
</html>