<div class="categories">
    
    <%
    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
    %>

    <% categoriesByMainCategory.forEach(group => { %>
        <h3><a href="/products/maincategory/<%= group._id %>"><%= capitalizeFirstLetter(group._id) %></a></h3>

        <% group.categories.forEach(category => { %>
            <% const capitalizedCategory = capitalizeFirstLetter(category); %>
            <a href="/products/category/<%= category %>"><%= capitalizedCategory %></a>
        <% }) %>
    <% }) %>
</div>