<div class="container">
    <div>
        <%- include('../partials/categories') %>
    </div>
    <div>
        <%- include('../partials/categoryImage') %>
        <%- include('../partials/tags') %>
        <%- include('../partials/productList') %>
    </div>
</div>