<div class="categories">
        <p class="categories-title"><a href="/products/">Toys</a></p>
        <%
        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
        %>
        <% categories.forEach(category => { %>
            <% const capitalizedCategory = capitalizeFirstLetter(category); %>
            <a href="/products/category/<%= category %>"><%= capitalizedCategory %></a>
        <% })%>
</div>