<%- include('../partials/header') %>

<div class="container">
    <div>
        <%- include('../partials/categories') %>
    </div>
    <div>
        <div class="category">
            <img class="home-image" src="/images/plushtoys.jpg" alt="">
            <h1>New Plush Toys</h1>
            <p>Now on Stock</p>
        </div>
        <div class="features-container">
            <div class="feature">
                <i class="fas fa-paint-brush feature-icon"></i>
                <h2 class="feature-title">Colorful Toys</h2>
                <p class="feature-description">Explore a vibrant collection of toys that spark creativity and joy!</p>
            </div>
            <div class="feature">
                <i class="fas fa-leaf feature-icon"></i>
                <h2 class="feature-title">Eco-Friendly</h2>
                <p class="feature-description">Discover our selection of sustainable toys made from natural materials.</p>
            </div>
            <div class="feature">
                <i class="fas fa-child feature-icon"></i>
                <h2 class="feature-title">Interactive Play</h2>
                <p class="feature-description">Join the fun with toys that encourage hands-on learning and play!</p>
            </div>
        </div>

        <%- include('../partials/productList') %>
    </div>
</div>

<%- include('../partials/footer') %>