<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>New Toy</h1>
    <form action="/products" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name"> 
        </div>
        <div>
            <label for="image">Image URL</label>
            <input type="text" id="image" name="image"> 
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" id="price" name="price"> 
        </div>
        <div>
            <label for="onSale">On Sale</label>
            <input type="checkbox" id="onSale" name="onSale"> 
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="description"> 
        </div>
        <div>
            <label>Tags</label>
            <br>
            <% tags.forEach(tag => { %>
                <input type="checkbox" name="tags[]" value="<%= tag %>">
                <label for="<%= tag %>"><%= tag %></label>    
            <% }) %>
        </div>
        <button>Submit</button>
        <a href="/products">Back To Products</a>
    </form>
</body>
</html>