<%- include('../partials/header') %>

    <div class="container">
        <div>
            <%- include('../partials/categories') %>
        </div>
        <div>
            <%- include('../partials/productDetail') %>
        </div>
    </div>

<%- include('../partials/footer') %>
